:root {
    --background: #FFF;
    --calc-background: #FF0077;
    --calc-window-bg: #FF8ED8;
    --button-background: #93FFF8;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
h1 {
    padding: 20px 0;
    text-align: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
    padding: 20px 0;
    background-color: var(--calc-background);
}
.screen {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
    background-color: var(--calc-window-bg);   
    font-weight: bold; 
}
.button-container {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    margin: 10px 10px;
    padding: 10px 0;
    background-color: var(--background);
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: var(--button-background);
}
footer {
    padding: 20px 0;
    text-align: center;
}